body{
	font-family: 'Arial';
	font-size: 16px;
	height: 1000px;
	padding-top: 36px;
}
.clear{
	clear: both;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.top-row{
	border-bottom: solid 1px #ccc;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 10;
}
.contact-info{
	float: left;
	width: 40%;
	padding: 10px 0;
}
.contact-info li,
.social-links li{
	display: inline-block;
	padding: 0 20px;
}
.contact-info .border-right,
.social-links .border-right{
    border-right: solid 1px #000;
}
.contact-info li a,
.social-links li a{
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.social-links{
	float: right;
	padding: 10px 0;
}
.social-links li{
	display: inline-block;
}
.portfolio{
	margin: 20px 0;

}
.section-title{
	font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700; 
    margin: 0 0 20px;
}
.section-title:after{
	content: "";
	display: block;
	width: 49px;
    height: 3px;
	background: #50d8af;
	margin: 10px 0;
}
.portfolio-gallery{
	margin: 20px 0;
}
.portfolio-gallery .image-wrapper{
    width: 25%;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.portfolio-gallery .image-wrapper img{
	width: 100%;
}
.portfolio-gallery .image-wrapper h3{
    position: absolute;
    top: 38%;
    left: 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    z-index: 2;
}

.portfolio-gallery .image-wrapper span{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 1;
}

.portfolio-gallery .image-wrapper:hover span{
	display: block;
}

.portfolio-gallery .image-wrapper a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	text-decoration: none;
}
.go-to-top{
    position: fixed;
    background: #50d8af;
    border-radius: 14px 4px 24px 14px;
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
}